  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid fill" style="padding: 10px;">
    <div class="row fill">
       <div class="col-sm-9 col-sm-push-3 fill" style="padding: 10px;text-align: center;">
          <form class="form-inline">
            <div class="form-group">
              <div ng-repeat="file in files">
                <iframe  ng-src="{{file.src}}" width="500" height="300" ng-if="!isImage"></iframe>
                <img  ng-src="{{file.src}}" style="width: 100%;height: auto; max-height: 400px; max-width: 400px;" ng-if="isImage">
                <p>The file is {{file.size}} in size.</p>
                <p>Do you wish to use this file?</p>
              </div>
            </div>
          </form>
          <div>
            <button type="submit" class="btn btn-primary" ng-model="files.name" ng-click="uploadFile()">Use This file</button>
            <p style="color: red;">Make sure you have sufficient access-rights/permissions to use this file.</p>
          </div>
          <div ng-if="uploadError == true" style="text-align:center;margin-top:20px" class="alert alert-danger">
            <p>Some of the files you selected exceed file limits </p><p>or are not allowed to be uploaded. </p> <p>Please try again.</p>
          </div>
       </div>
       <div class="col-sm-3 col-sm-pull-9  fill toc" style="overflow:auto">
         <%include ../partials/toc.html.ejs%>
       </div>
    </div>
  </div>
  <%include ../partials/footer.html.ejs%>
