  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid fill">
     <div class="row fill">
       
       <div ngf-drag-over-class="dragover" ng-model="files" ngf-drop="uploadFiles()" ngf-multiple="options.multiple" ngf-pattern="options.mimetypes"
    ngf-accept="options.mimetypes" class="col-sm-9 col-sm-push-3 fill" style="min-height:80%;height:80%;">
         <div style="height:100%;width:100%;min-height:100%;position:absolute">
             <div style="position:relative;top:10%;left:10%;width:80%;height:80%;border: 3px dashed #CCC">
                
                <div class="map">
                  
                
                  <div class="center_container">
                    <div class="center_content">
                        <div style="text-align:center;padding-bottom:20px">
                          Drag file<span ng-if="options.multiple">s</span> on this screen
                        </div>
                        <div>
                          <button  ngf-multiple="options.multiple" ngf-pattern="options.mimetypes"
    ngf-accept="options.mimetypes" ng-model="files" ngf-select="uploadFiles()" class="btn btn-large btn-info">or Upload File<span ng-if="options.multiple">s</span></button>
                        </div>
                        <div ng-if="limitExceeded" style="text-align:center;margin-top:20px" class="alert alert-danger">
                          Some of the files you selected exceed file limits. Please try again.
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
         </div>
      
       </div>
       <div class="col-sm-3 col-sm-pull-9  fill toc" style="overflow:auto">
         <%include ../partials/toc.html.ejs%>
       </div>
     </div>
  </div>

  <%include ../partials/footer.html.ejs%>


