  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid fill">
     <div class="row fill">
       
       <div class="col-sm-9 col-sm-push-3 fill " style="min-height:80%;height:80%;">
         <div style="height:100%;width:100%;min-height:100%;position:absolute">
             <div style="position:relative;top:10%;left:10%;width:80%;height:80%;border: 3px dashed #CCC">
                
                <div class="map">
                  
                
                  <div class="my_container">
                    <div class="my_content">
                        <div style="text-align:center;padding-bottom:20px">
                          Drag file on this screen
                        </div>
                        <div>
                          <button  ngf-multiple="options.multiple" ngf-select="uploadFiles($files)" class="btn btn-large btn-info">or Upload Files</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
         </div>
      
       </div>
       <div class="col-sm-3 col-sm-pull-9  fill toc" style="overflow:auto">
         <%include ../partials/toc.html.ejs%>
       </div>
     </div>
  </div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-bottom" style="margin:0px">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OpenPicker</a>
        </div>

      </div>
    </nav>
