  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid">
     <div class="row">
           <centered>
                OpenPicker is initializing. Please wait...
           </centered>
       
     </div>
  </div>

<%include ../partials/footer.html.ejs%>