  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid fill">
     <div class="row fill">
       
       <div class="col-sm-9 col-sm-push-3 fill " style="overflow:auto">
         <div id="drop_container" class="map" style="" >
          <div class="table-responsive">          
            <table class="table">
              <thead>
                <tr>
                  <th style="text-align:center">File</th>
                  <th>Name</th>
                  <th>Progress</th>
                  <th>Uploaded?</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in files">
                  <td style="text-align:center">
                    <div ng-if="getFileIcon(file) == 'file-image-o'">
                      <img ngf-src="file.content" style="height:100px;max-width:100px">
                    </div>
                     <div ng-if="getFileIcon(file) != 'file-image-o'">
                      <i style="font-size:4em" class="fa fa-{{getFileIcon(file)}}"></i>
                    </div>
                  </td>
                  <td>{{file.content.name}}</td>
                  <td >
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{{ file.progress}}%">
                      <span class="sr-only"></span>
                    </div>
                    </div>
                  </td>
                  <td>{{ file.status || "Queued" }}</td>
                 
                </tr>
              </tbody>
            </table>
          </div>

         
         </div>

       </div>
       <div class="col-sm-3 col-sm-pull-9  fill toc" style="overflow:auto">
         <%include ../partials/toc.html.ejs%>
       </div>
     </div>
  </div>

  <%include ../partials/footer.html.ejs%>
