  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid fill">
    <div class="row fill">
       <div class="col-sm-9 col-sm-push-3 fill">
          <form class="form-inline" style="margin-top:20px;">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" ng-model="file.name" placeholder="cats">
              <p>avoid file extensions like .jpg,.png etc.</p>
            </div>            
            <div class="form-group">
              <label>Url</label>
              <input type="text" class="form-control" ng-model="file.src" placeholder="http://something.com/image.jpg">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" ng-click="fetch()">Fetch Image</button>
            </div>
          </form>
          <div ng-if="showLoader" style="text-align: center; margin-top: 100px;">
            <img src="../../ring.gif">
          </div>
          <div ng-if="uploadError.error == true" style="text-align:center;margin-top:20px" class="alert alert-danger">
            <p>{{uploadError.message}}</p> <p>Please try again.</p>
          </div>
       </div>
       <div class="col-sm-3 col-sm-pull-9  fill toc" style="overflow:auto">
         <%include ../partials/toc.html.ejs%>
       </div>
    </div>
  </div>
  <%include ../partials/footer.html.ejs%>
