  <%include ../partials/navbar.html.ejs%>
  <div class="container-fluid fill">
    <div class="row fill">
       <div class="col-sm-9 col-sm-push-3 fill" style="padding: 10px;">
          <div style="color: #7f9094;font-size: 16px; position: fixed;" ng-show="!showLoader">Files from the Web</div>
          <div style="margin: 70px auto;width: 50%;float: none; border: 3px dashed rgba(204, 204, 204, 0.8);" ng-show="!showLoader">
            <form style="float: none;margin: 50px;" name="form">
              <div style="color: #809395;">
                Provide the web link.
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="file.src" name="src_input" style="border-radius:1px;" ng-pattern="urlRegex" placeholder="http://something.com/image.jpg">
                <div ng-if="form.src_input.$invalid" style="color: #809395;">Did you forget to add http:// or https:// ?</div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success" style="border-radius: 14px; " ng-click="fetch()" ng-disabled="form.$invalid">Search</button>
              </div>
            </form>
          </div>
          <div style="margin: 160px auto; text-align: center; font-size: 16px;s" ng-if="showLoader">
            <img src="../../loader.gif">
            <div>Loading..</div>
          </div>
          <div ng-if="uploadError.error == true" class="alert alert-danger">
            <p>{{uploadError.message}}. Please try again.</p>
          </div>
       </div>
       <div class="col-sm-3 col-sm-pull-9  fill toc" style="overflow:auto">
         <%include ../partials/toc.html.ejs%>
       </div>
    </div>
  </div>
  <%include ../partials/footer.html.ejs%>
