 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-bottom" style="margin:0px">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">OpenPicker</a>
        </div>

      </div>
    </nav>