 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-bottom" style="margin:0px">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" target="_blank" href="https://github.com/gauravtiwari5050/OpenPicker">OpenPicker</a>
        </div>

      </div>
    </nav>