
    <a id="openpicker_close_button" href="" style="position:fixed;right:15px;top:0.5em;z-index:1031;font-size:1.5em"><i class="fa fa-times"></i></a>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="margin:0px">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-left:15px">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav onlymobile">
              <li ng-repeat="channel in channels ">
                <a href="">
                <i style="width:25px" class="fa fa-{{channel.fa_icon}}"></i> 
                {{channel.name}}
                </a>
                
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
